{% extends "base.html" %}
<!-- title -->
{% block title %} THE NEWS | Articles {% endblock %}

<!-- content -->
{% block content %}


<div class="container-fluid">
    <div>
        <a class="text-dark ml-0 mb-4 btn btn-outline-info" href="/">
            HOME
        </a>
    </div>
</div>


<div class="container"> -->

<!-- <h3>Source page using base template</h3> -->


<!-- <div>
    {% for item in article_source%}
    <p>{{item.title}}</p>
    {% endfor %}
</div> -->

<div class="container">
    {% for item in article_source%}

    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img class="w-100" alt="" src="{{ item.url_to_image }}">
            </div>

            <div class="col-md-8">
                <div class="card-block">
                    <h5 class="card-title font-weight-bold">{{item.title}}</h5>
                    <p class="card-text font-italic">{{item.description}}</p>
                </div>

                <a href="{{ item.url }}">
                    <small class="text-info">Read now</small>
                </a>
            </div>

        </div>
    </div>

{% endfor %}

</div>

{% endblock %} 