<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h3>News Homepage Template</h3>
</body>
</html> -->

{% extends "base.html" %}

<!-- style block -->
{% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> {% endblock %}

<!-- title -->
{% block title %} HOME {% endblock %}
<!-- content -->
{% block content %}
<div class="container">
    <h3>Trending news</h3>

<!-- loop through items -->
{% for item in news_sources %}
<!-- <ul>
    <li>{{item.name}}</li>
</ul> -->
<div class="row">
    <!-- loop through items -->
    {% for item in news_sources%}
    <div class="row justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="lead text-center">SOURCES</h4>
                    <ul>
                        <!-- loop through items -->
                        {% for item in news_sources%}
                        <a href="/articles/{{item.id}}" class="btn btn-outline-secondary btn-block">{{item.name}}</a> {% endfor %}
                    </ul>
                </div>

                <div class="offset-1 col-md-8">
                    <div class="card">
                    {% for article in trending_article %}

                    <img src="{{article.url_to_image}}" class="card-img-top" alt="top-article">
                    
                    <div class="card-text">
                        <a href="{{article.url}}" class="text-dark">{{ article.description }}</a>
                        <br>
                    </div>
                    
                    {% endfor %}
                    </div>
                </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
<!--  -->
{% endblock %} 