<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h3>News Homepage Template</h3>
</body>
</html> -->

{% extends "base_template.html" %}
<!-- title -->
{% block title %} HOME {% endblock %}
<!-- content -->
{% block content %}
<h3>News homepage template using base template</h3>
<h3>Trending news</h3>

<!-- loop through items -->
{% for item in news_sources %}
<!-- <ul>
    <li>{{item.name}}</li>
</ul> -->
<div class="row">
    <h4><a href="/articles/{{item.id}}">{{item.name}}</a></h4>
</div>
{% endfor %}
<!--  -->
{% endblock %} 